md-content
  h2.md-headline List of Awesome Things

  md-button.md-raised(ng-click="toggle()") Toggle Content

  md-list
    md-list-item.md-3-line(ng-repeat="thing in things")
      div.md-list-item-text {{ thing }}
